<% include ./header%>

    <div class="col-lg-4 col-lg-offset-4" style="background-color: rgba(0,0,0,.8); height: 100vh; padding-top: 30vh; color: white">
        <center><h1>Login</h1></center>
        <form>
          <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

<% include ./footer%>
